appdirs==1.4.3
click==6.7
enum-compat==0.0.2
enum34==1.1.6
eventlet==0.20.1
Flask==0.12
Flask-SocketIO==2.8.2
greenlet==0.4.11
itsdangerous==0.24
Jinja2==2.9.4
MarkupSafe==0.23
packaging==16.8
psutil==5.2.1
pyparsing==2.2.0
python-engineio==1.1.1
python-socketio==1.6.3
six==1.10.0
-e git+git@github.com:KevinWMatthews/python-flask-socket_io_demo.git@133378f9cd593728842fc9961de20cef1e143a39#egg=socket_io_demo
Werkzeug==0.11.15
