<!DOCTYPE html>
<html>
<head>
	<title>Threaded SocketIO</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="static/lib/bootstrap.css">
</head>

<body>
	<div class="container">
		<h1>Welcome to the Threaded SocketIO demo!</h1>
	</div>
	<div class="container">
		<button type="button" onclick="emitString()">Emit String</button>
		<button type="button" onclick="sendString()">Send String</button>
		<button type="button" onclick="emitJson()">Emit Json</button>
		<button type="button" onclick="emitUnhandledEvent()">Emit Unhandled Event</button>
		<button type="button" onclick="requestEmitCustomEvent()">Request Emit Custom Event</button>
		<button type="button" onclick="requestSend()">Request Send</button>
		<button type="button" onclick="requestUnhandleEvent()">Request Unhandled Event</button>
	</div>

    <div id="fileupload_div" class="container">
        <input id="fileupload" type="file" name="uploaded_file" accept=".swu" data-url="threaded">
    </div>

    <div class="container">
        <h3>Upload progress</h3>
        <div class="progress" id="upload_progress">
            <div class="progress-bar" id="upload_bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0%" style="width: 0%">
            </div>
        </div>
    </div>


	<div class="container">
		<h3>Status log</h3>
		<div id="status_log">
		</div>
	</div>

	<script type="text/javascript" src="static/lib/jquery.js"></script>
	<script type="text/javascript" src="static/lib/bootstrap.js"></script>
	<script type="text/javascript" src="static/lib/socket.io.min.js"></script>
    <script src="/static/lib/jquery-file-upload/vendor/jquery.ui.widget.js"></script>
    <script src="/static/lib/jquery-file-upload/jquery.iframe-transport.js"></script>
    <script src="/static/lib/jquery-file-upload/jquery.fileupload.js"></script>
	<script type="text/javascript" charset="utf-8" src="static/custom_socket_io.js"></script>
</body>
</html>
